<ion-header>
    <ion-navbar>
      <!-- <ion-title> -->
            <!-- <ion-toolbar> -->
              <ion-segment [(ngModel)]="icons" color="secondary" (ionChange)="segmentChanged($event)">
                <ion-segment-button value="search">
                  <ion-icon>Search</ion-icon>
                </ion-segment-button>
                <ion-segment-button value="answer">
                  <ion-icon>My Answers</ion-icon>
                </ion-segment-button>
              </ion-segment>
            <!-- </ion-toolbar> -->
      <!-- </ion-title> -->
    </ion-navbar>
  </ion-header>


<ion-content padding >
    <ion-list padding radio-group *ngIf='questionList'>
        <ion-card padding *ngFor="let question of questionList"  (click)="onQuestionSelect(question)">
            <ion-card-content>
              <ion-card-title>
                  {{question.locationName}}
                </ion-card-title>
              <!-- <p>
                  {{question.query}}
              </p> -->
            </ion-card-content>
          </ion-card>
        <!-- <ion-item *ngFor="let question of questionList" (click)="onQuestionSelect(question)">
          <ion-label> - </ion-label>
        </ion-item>
        <div *ngIf='selectedQuestion'><ion-input placeholder="Answer Here" [(ngModel)]="answer.answerRecommendation"></ion-input>
          {{answer.answerRecommendation}}
        </div>
        <ion-item *ngIf="data?.length ==0">
          <h2>no matched items</h2>
        </ion-item> -->
      </ion-list>
</ion-content>
